.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que la app ocupe al menos el alto de la pantalla */
}

.App main {
  flex-grow: 1; /* El contenido principal crecerá para ocupar el espacio disponible */
}

/* Aplica la fuente en el cuerpo */
body {
  font-family: "Roboto", sans-serif;
}

.Footerx {
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}
